<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.scalattice.agent</string>
	<key>CFBundleName</key>
	<string>Scalattice Agent</string>
	<key>CFBundleDisplayName</key>
	<string>Scalattice Agent</string>
	<key>CFBundleExecutable</key>
	<string>scalattice-agent</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.32</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>LSArchitecturePriority</key>
	<array>
		<string>arm64</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) Robottik Ltd</string>
</dict>
</plist>
